<div class="bg-image"></div>

<app-best-seller></app-best-seller>

<div class="wrapper sticky">
  <nav class="navbar-fixed-top">
    <a href="#" class="logo">
      <h1><mat-icon>storefront</mat-icon> Edubridge Super Market </h1></a>
     
    <ul>
      <li>
        <mat-icon>person</mat-icon><a (click)="handleLoginAction()"> Login      </a>
        <mat-icon>person_add</mat-icon><a (click)="handleSignupAction()"> Signup    </a>
        <mat-icon>lock_open</mat-icon><a (click)="handleForgotPasswordAction()"> ForgotPassword</a>
      </li>
    </ul>
    
  </nav>
</div>

<div class="footer" id="signup">
  <h2>All right reserved @Edubridge</h2>
</div>
